@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /*border: 1px dotted red;*/
}

.SearchResults::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}