@import "tailwindcss";

@font-face {
  font-family: 'Permanent Marker';
  src: url('../../public/fonts/permanent-marker/permanentmarker-regular-webfont.woff2') format('woff2'),
      url('../../public/fonts/permanent-marker/permanentmarker-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@theme inline {
  --color-blue: #36C5F0;
  --color-active-blue: #2EACD3;
  --font-marker: "Permanent Marker", sans-serif
}

html, body {
  height: 100%;
  overscroll-behavior: none;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  display: none;
}

html, #tracks, #my-mixtape {
  -ms-overflow-style: none;
  scrollbar-width: none;
}


