@import "tailwindcss";

@font-face {
  font-family: 'Permanent Marker';
  src: url('../../public/fonts/permanent-marker/permanentmarker-regular-webfont.woff2') format('woff2'),
      url('../../public/fonts/permanent-marker/permanentmarker-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@theme inline {
  --color-blue: #36C5F0;
  --font-marker: "Permanent Marker", sans-serif
}

body {
  background-image: url("/images/background.jpg");
  background-size: cover;
  background-position: right;
}
